.contain {
  margin-top: 15%;
  text-align: center;
}

.spinner {
  margin-top: 3%;
}

@media (max-width: 767.5px) {
  .contain {
    margin-top: 40%;
    text-align: center;
  }
  .spinner {
    margin-top: 8%;
  }
}
