@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
.navbrandstyle {
    font-size: 2.5rem;
    font-family: "Ubuntu";
  }
  
  @media (max-width: 767.5px) {
    .centerNavbar {
      text-align: center;
    }
  }