.tableContainer {
    margin-top: 10%;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }
  
  .headerCell {
    background-color: #ff8800;
    color: #fff;
    font-size: 1rem;
    font-weight: normal;
    padding: 8px 18px;
    text-align: left;
  }
  
  .row:nth-child(odd) {
    background-color: #f5f5f5;
  }
  
  .urlCell {
    padding: 20px 18px;
    font-size: 1rem;
    text-align: left;
    word-wrap: break-word;
  }
  
  .link {
    color: #0277bd;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .rightAlign {
    text-align: right;
  }

  .copyUrl {
    width: 1.3em;
    height: auto;
    margin-left: 15px;
    vertical-align: middle;
    cursor: pointer;
  }

  .copyUrl:hover {
    width: 1.4em;
  }

  @media (max-width: 767px) {
    .tableContainer {
        margin-top: 20%;
    }
  }